<div class="flex flex-wrap gap-5 m-5">
  <app-book-card [model]="book" animation="observe" />
  <app-book-card [model]="book" animation="none" />
  <app-book-card [model]="book" animation="none" />
  <app-book-card [model]="book" animation="none" />
  <app-book-card [model]="book" animation="none" />
  <app-book-card [model]="book" animation="none" />
  <app-book-card [model]="book" animation="none" />
  <app-book-card [model]="book" animation="none" />
  <app-book-card [model]="book" animation="none" />
  <app-book-card [model]="book" animation="none" />
</div>
