<div *ngIf="currentBook$ | async as book" class="w-full h-full relative flex">
  <div
    class="w-fit h-full mt-0 bg-contrast md:bg-contrast/15 py-2 flex flex-col overflow-hidden duration-500 transition-all md:max-w-fit md:min-w-[200px] absolute md:relative"
    [ngClass]="isMenuOpen ? 'max-w-[800px] min-w-[200px]' : 'max-w-0 min-w-0'"
  >
    <a
      [routerLink]="oldRoute ?? '/'"
      class="hover:bg-contrast/40 transition-all duration-200 px-4 py-2 cursor-pointer mt-auto text-accent min-w-fit text-center"
      >Вернуться</a
    >
  </div>
  <div class="flex flex-col w-full">
    <div class="w-full bg-contrast/15 -mr-2 py-1 md:hidden">
      <button
        class="rounded-full p-1 px-2 bg-contrast/80 text-mainwhite ml-auto flex mr-5"
        (click)="isMenuOpen = !isMenuOpen"
      >
        <fa-icon *ngIf="!isMenuOpen" [icon]="faMenu" />
        <fa-icon *ngIf="isMenuOpen" [icon]="faClose" />
      </button>
    </div>
    <app-reader
      *ngIf="currentFile$ | async as file; else loading"
      [allowFullRead]="book && allowUserReading()"
      [bookFileUrl]="file"
      class="w-full h-[95%] md:h-full"
    />
  </div>
</div>
<ng-template #loading>
  <div
    class="text-4xl text-accent absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[100%] flex flex-col items-center"
  >
    <fa-icon [animation]="'spin-pulse'" [icon]="faSpinner" />
    <span class="text-xl">Загрузка...</span>
  </div>
</ng-template>
