<div
  *ngIf="currentBook$ | async as book"
  class="w-full h-full relative flex bg-body z-0"
>
  <div
    class="w-full sm:w-fit h-full mt-0 text-accent-light bg-body flex flex-col overflow-hidden duration-500 transition-all lg:max-w-fit lg:min-w-[200px] absolute lg:relative z-[100]"
    [ngClass]="
      isMenuOpen
        ? 'max-w-full sm:max-w-[800px] min-w-[200px]'
        : 'max-w-0 min-w-0'
    "
  >
    <div
      class="w-full h-full mt-0 text-accent bg-contrast/20 py-2 flex flex-col overflow-hidden duration-500 transition-all md:max-w-fit md:min-w-[200px] absolute md:relative z-[100]"
    >
      <span
        class="overflow-hidden whitespace-nowrap text-ellipsis max-w-[200px] w-fit self-center hidden lg:block font-semibold"
        title="{{ book.authors[0].name }}.
        {{ book.name }}."
        >{{ book.authors[0].name }}. {{ book.name }}.</span
      >
      <div
        *ngIf="bookChapters && !isLoading"
        class="w-full flex h-full flex-1 flex-col min-h-0"
      >
        <span class="font-semibold text-center w-full"
          >Оглавление
          <button
            class="rounded-full p-1 px-2 bg-contrast/80 text-mainwhite ml-auto flex mr-5 absolute sm:hidden right-0 top-1"
            (click)="isMenuOpen = !isMenuOpen"
          >
            <fa-icon *ngIf="!isMenuOpen" [icon]="faMenu" />
            <fa-icon *ngIf="isMenuOpen" [icon]="faClose" />
          </button>
        </span>
        <div
          class="w-full max-h-full overflow-y-auto overflow-x-clip no-scrollbar"
        >
          <div class="flex flex-col w-full min-h-fit">
            <a
              *ngFor="let chapter of bookChapters"
              class="hover:bg-contrast/40 transition-all duration-200 px-4 py-2 cursor-pointer mt-auto max-w-full text-sm overflow-hidden md:whitespace-nowrap md:text-ellipsis"
              (click)="
                selectedChapter = chapter;
                this.isMenuOpen = false;
                this.currentExpandedSection = undefined
              "
              title="{{ chapter.label }}"
            >
              {{ chapter.label }}
            </a>
          </div>
        </div>
      </div>

      <a
        *ngIf="!isLoading && readerStyle"
        (click)="
          settingsExpanded = !settingsExpanded;
          currentExpandedSection = undefined
        "
        [ngClass]="
          settingsExpanded
            ? 'bg-contrast/40 dark:bg-body/60 border-contrast'
            : 'border-transparent'
        "
        class="hover:bg-contrast/40 transition-all duration-200 px-4 py-2 cursor-pointer w-full text-center shrink-0 flex flex-row justify-center gap-2 select-none text-sm border-b-2 border-solid"
        >Настройки
        <div
          class="transition-all duration-200"
          [ngClass]="settingsExpanded ? 'rotate-180' : ''"
        >
          <fa-icon [icon]="faExpand" /></div
      ></a>
      <div
        [ngClass]="settingsExpanded ? 'max-h-[400px]' : 'max-h-0'"
        *ngFor="let setting of styleSetting"
        class="min-w-full flex flex-col text-sm h-fit duration-500 transition-all ease-in-out overflow-hidden"
      >
        <a
          (click)="
            currentExpandedSection =
              currentExpandedSection == setting.section
                ? undefined
                : setting.section
          "
          [ngClass]="
            currentExpandedSection == setting.section
              ? 'bg-contrast/40 dark:bg-body/60'
              : undefined
          "
          class="hover:bg-contrast/40 transition-all duration-200 px-4 py-2 cursor-pointer w-full text-center shrink-0 flex flex-row justify-center gap-2 select-none"
          >{{ setting.name }}
          <div
            class="transition-all duration-200"
            [ngClass]="
              currentExpandedSection === setting.section ? 'rotate-180' : ''
            "
          >
            <fa-icon [icon]="faExpand" /></div
        ></a>

        <div
          class="flex flex-col min-h-0 h-fit w-full transition-all duration-[1s] overflow-hidden border-y-2 border-solid"
          [ngClass]="
            currentExpandedSection == setting.section
              ? 'max-h-[600px] border-contrast'
              : 'max-h-0 border-transparent'
          "
        >
          <a
            *ngFor="let val of setting.values"
            class="transition-all duration-200 px-4 py-2 cursor-pointer w-full text-center shrink-0 flex flex-row justify-center gap-2 select-none"
            [ngClass]="
              readerStyle &&
              readerStyle[setting.topSection][setting.section] === val.value
                ? 'bg-contrast/40 dark:bg-accent-light'
                : 'hover:bg-contrast/40'
            "
            (click)="
              reader?.changeStyleParam(
                setting.topSection,
                setting.section,
                val.value
              )
            "
            >{{ val.label }}</a
          >
        </div>
      </div>
      <div
        [ngClass]="settingsExpanded ? 'max-h-[400px]' : 'max-h-0'"
        class="flex overflow-hidden min-w-full transition-all duration-500"
      >
        <a
          (click)="reader?.changeStyleParam('', '', '', true)"
          class="hover:bg-contrast/40 transition-all duration-200 px-4 py-2 cursor-pointer text-center text-sm mt-auto overflow-hidden w-full"
          ><fa-icon [icon]="faDefault" /> По умолчанию</a
        >
      </div>
      <a
        [routerLink]="oldRoute ?? '/'"
        class="hover:bg-contrast/40 transition-all duration-200 px-4 py-2 cursor-pointer min-w-fit text-center shrink-0 text-sm mt-auto"
        >Выход</a
      >
    </div>
  </div>
  <div class="flex flex-col w-full">
    <div
      class="w-full max-h-fit max-w-full bg-contrast/15 -mr-2 py-1 lg:hidden flex flex-row flex-1 overflow-hidden"
    >
      <span
        class="overflow-hidden whitespace-nowrap text-ellipsis max-w-full ml-2 text-sm md:text-base self-center font-semibold"
        >{{ book.authors[0].name }}. {{ book.name }}.</span
      >
      <button
        class="rounded-full p-1 px-2 bg-contrast/80 text-mainwhite ml-auto flex mr-5 shrink-0"
        (click)="isMenuOpen = !isMenuOpen"
      >
        <fa-icon *ngIf="!isMenuOpen" [icon]="faMenu" />
        <fa-icon *ngIf="isMenuOpen" [icon]="faClose" />
      </button>
    </div>
    <app-reader
      *ngIf="currentFile$ | async as file; else loading"
      [allowFullRead]="book && allowUserReading()"
      [bookFileUrl]="file"
      (isBookLoading)="isLoading = $event"
      [currentChapter]="selectedChapter"
      (onStyleChanged)="readerStyle = $event"
      (bookContent)="onBookContentCreated($event)"
      class="w-full h-[95%] lg:h-full z-[10]"
    />
  </div>
</div>
<ng-template #loading>
  <div
    class="text-4xl text-accent absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[100%] flex flex-col items-center"
  >
    <fa-icon [animation]="'spin-pulse'" [icon]="faSpinner" />
    <span class="text-xl">Загрузка...</span>
  </div>
</ng-template>
