<!-- logout modal -->
<app-modal
  *ngIf="logoutModalOpen"
  [title]="'Выход'"
  [disabled]="logoutAttemptingState"
  (onSubmit)="logoutUser()"
  [danger]="true"
  [(visible)]="logoutModalOpen"
  ok="Выйти из аккаунта"
  ><span class="text-blacktext text-center"
    >Для подтверждения действия нажмите кнопку ниже</span
  ></app-modal
>
<!-- login modal -->
<app-modal
  *ngIf="loginModalOpen"
  ok="Войти"
  [title]="'Авторизация'"
  [disabled]="loginAttemptingState"
  [(visible)]="loginModalOpen"
  (onSubmit)="loginUser()"
  [error]="loginGeneralError"
  [footer]="{
    text: 'Еще нет аккаунта?',
    linkText: 'Зарегистрироваться',
    link: '/signin'
  }"
>
  <div class="w-[80%] gap-4 flex flex-col">
    <app-input
      id="login"
      label="Логин или почта"
      (submit)="loginUser()"
      [(error)]="loginError"
      [(value)]="loginValue"
      [disabled]="loginAttemptingState"
      autocomplete="username nickname email"
    />
    <app-input
      id="password"
      label="Пароль"
      type="password"
      (submit)="loginUser()"
      [(error)]="passwordError"
      [(value)]="passwordValue"
      [disabled]="loginAttemptingState"
      autocomplete="current-password"
    />
    <div class="flex flex-col w-full items-center">
      <app-checkbox
        label="Запомнить меня"
        [disabled]="loginAttemptingState"
        componentId="rememberMe"
        [(checked)]="rememberMe"
      />
    </div>
  </div>
</app-modal>
<!-- main block -->
<header
  [ngClass]="bottomMenuVisible ? 'shadow-none' : 'shadow-md shadow-mainshadow'"
  class="fixed top-0 z-[51] pl-2 flex flex-col lg:flex-row lg:items-center justify-center lg:pr-[10%] lg:pl-[10%] h-12 lg:h-16 bg-mainbg font-semibold w-full"
>
  <div class="z-50 flex flex-row w-full lg:w-auto justify-center h-full">
    <h1
      class="text-maintext m-0 font-main pt-2 pl-2 text-xl lg:p-0 tracking-[2px] lg:my-auto h-fit sm:block hidden"
    >
      <a class="no-underline text-maintext" routerLink="/">LitGO</a>
    </h1>
    <div class="block">
      <button
        (click)="switchCatalogue()"
        [ngClass]="catalogueOpen ? 'bg-mainshadow' : 'bg-accent'"
        class="transition-colors duration-200 z-[100] lg:min-w-[110px] p-2 text-sm lg:px-5 lg:py-3 m-1.5 border-0 rounded-xl cursor-pointer lg:m-2.5 text-maintext lg:text-sm font-semibold font-main hover:bg-neutral-700"
      >
        <fa-icon
          *ngIf="catalogueOpen"
          [icon]="faClose"
          size="1x"
          class="mr-[2px]"
        />
        <fa-icon
          *ngIf="!catalogueOpen"
          [icon]="faBook"
          size="1x"
          class="mr-[2px]"
        />
        <span class="hidden lg:contents">Каталог</span>
      </button>
    </div>
    <button
      class="lg:hidden ml-auto mr-2 my-auto"
      (click)="sideMenuOpen = !sideMenuOpen"
    >
      <fa-icon
        [icon]="sideMenuOpen ? faClose : faBars"
        class="text-maintext"
        size="xl"
      />
    </button>
  </div>
  <div class="flex-1 pr-[2%] h-auto">
    <app-searchbar />
  </div>
  <div
    class="shadow-sm shadow-mainblack lg:shadow-none bg-mainbg pr-6 pl-2 lg:pr-0 lg:pl-0 lg:left-0 top-10 w-fit mt-2 mb-1 lg:top-0 lg:w-auto z-30 flex flex-col absolute lg:bg-transparent lg:flex-row lg:relative duration-800 transition-all ease-in"
    [ngClass]="[sideMenuOpen ? 'left-0' : '-left-full']"
  >
    <div *ngFor="let link of links" class="text-maintext">
      <a
        *ngIf="
          link.visible === 'All' ||
          (link.visible === 'Auth' && userState() !== null) ||
          (link.visible === 'Unauth' && userState() === null)
        "
        class="font-normal px-2 pt-2 pb-1 hover:text-accent hover:font-semibold lg:hover:text-maintext lg:hover:font-normal lg:hover:bg-accent/30 rounded-md transition-all m-2.5 text-md lg:w-15 xl:w-18 items-center font-main no-underline cursor-pointer flex lg:flex-col"
        [routerLink]="link.link"
        [ngClass]="link.addClass === undefined ? '' : link.addClass"
        (click)="link.action !== undefined && link.action()"
      >
        <fa-icon
          class="w-8 mr-2 -ml-2 h-7 lg:h-5 xl:h-5 lg:w-auto lg:m-0"
          [icon]="link.icon"
          size="xl"
        />
        <span class="text-base lg:text-xs xl:text-sm">{{ link.label }}</span>
      </a>
    </div>
    <div
      *ngFor="let link of bottomLinks.links"
      class="text-maintext block lg:hidden"
    >
      <a
        class="font-normal px-2 py-2 hover:text-accent hover:font-semibold lg:hover:text-maintext lg:hover:font-normal lg:hover:bg-accent/30 rounded-md transition-all m-2.5 text-md lg:w-15 xl:w-18 items-center font-main no-underline cursor-pointer flex lg:flex-col"
        [routerLink]="link.link"
      >
        <fa-icon
          class="w-8 mr-2 -ml-2 h-7 lg:h-5 xl:h-5 lg:w-auto lg:m-0"
          [icon]="link.icon"
          size="xl"
        />
        <span class="text-base">{{ link.label }}</span>
      </a>
    </div>
    <div
      [ngIf]="bottomLinks.more !== undefined"
      *ngFor="let link of bottomLinks.more"
      class="text-maintext block lg:hidden"
    >
      <a
        class="font-normal px-2 py-2 hover:text-accent hover:font-semibold lg:hover:text-maintext lg:hover:font-normal lg:hover:bg-accent/30 rounded-md transition-all m-2.5 text-md lg:w-15 xl:w-18 items-center font-main no-underline cursor-pointer flex lg:flex-col"
        [routerLink]="link.link"
      >
        <fa-icon
          class="w-8 mr-2 -ml-2 h-7 lg:h-5 xl:h-5 lg:w-auto lg:m-0"
          [icon]="link.icon"
          size="xl"
        />
        <span class="text-base">{{ link.label }}</span>
      </a>
    </div>
  </div>
</header>

<div
  *ngIf="sideMenuOpen"
  class="opacity-100 z-40 w-full h-full top-0 left-0 fixed lg:hidden"
  (click)="sideMenuOpen = !sideMenuOpen"
></div>
<!-- bottom header nav buttons -->
<div
  *ngIf="bottomMenuVisible"
  class="fixed pb-1 hidden lg:flex flex-row justify-center items-start bg-mainbg text-maintext font-main text-base font-semibold gap-1 top-[64px] z-50 w-full shadow-md shadow-mainshadow"
>
  <a
    class="select-none px-2 py-1 hover:bg-accent/40 rounded-xl transition-all duration-100 ease-in-out"
    *ngFor="let link of bottomLinks.links"
    [routerLink]="link.link"
    >{{ link.label }}</a
  >
</div>
<div
  *ngIf="catalogueOpen"
  class="fixed w-full left-0 z-40 overflow-y-auto"
  (click)="$event.stopPropagation()"
  [ngClass]="
    bottomMenuVisible
      ? 'lg:top-[100px] top-12 max-h-[calc(100%-48px)] lg:max-h-[calc(100%-100px)]'
      : 'lg:top-16 top-12 max-h-[calc(100%-48px)] lg:max-h-[calc(100%-64px)]'
  "
>
  <app-catalogue />
  <div
    class="bg-mainblack/50 w-full h-full top-0 fixed"
    (click)="switchCatalogue()"
  ></div>
</div>
