body {
  overflow-x: hidden !important;
  overflow-y: auto !important;
  width: 90% !important;
  max-width: 100% !important;
  margin: 0 auto !important;
  padding: 20px !important;
  box-sizing: border-box !important;
  padding: 0 !important;
}

img {
  max-width: 100% !important;
  height: auto !important;
}

table {
  width: 100% !important;
  display: block !important;
  overflow-x: auto !important;
}

pre,
code,
.poetry {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
}
