<div
  class="z-[1000] w-full h-full flex flex-row items-center justify-center top-0 left-0 fixed overflow-hidden"
  [ngClass]="background ? 'bg-overlay/80' : ''"
  *ngIf="visible"
  (click)="background && !disabled && ChangeModalState(false)"
>
  <div
    (click)="$event.stopPropagation()"
    [ngClass]="
      background ? 'dark:bg-body bg-mainwhite' : 'dark:bg-body bg-accent-light'
    "
    class="z-10 -translate-y-20 max-w-[300px] xl:max-w-[500px] px-[30px] rounded-2xl flex grow-[1] pb-5 flex-col items-center justify-center"
  >
    <a
      [ngClass]="disabled ? '' : 'hover:rotate-180 cursor-pointer'"
      class="self-end mt-2 -mr-4 transition-all duration-300 z-50"
      ><fa-icon
        [icon]="faClose"
        size="xl"
        [ngClass]="disabled ? 'text-blacktext/40' : 'text-blacktext'"
        (click)="!disabled && ChangeModalState(false)"
    /></a>
    <div class="w-full h-full flex flex-col items-center">
      <h1
        class="mb-5 text-xl font-semibold tracking-wider font-main"
        [ngClass]="disabled ? 'text-accent/40' : 'text-accent'"
      >
        {{ title }}
      </h1>
      <div class="w-full h-fit justify-center items-center flex flex-col">
        <ng-content></ng-content>
      </div>
      <p
        class="mt-5 text-sm md:text-base font-main w-[80%] text-center hyphens-auto text-error"
      >
        {{ errorValue }}
      </p>
      <input
        type="submit"
        (click)="onSubmit.emit()"
        [value]="disabled ? '' : ok"
        [disabled]="disabled"
        [ngClass]="
          danger
            ? 'bg-error/80 enabled:hover:bg-error'
            : 'bg-mainshadow/80 enabled:hover:bg-mainbg'
        "
        class="enabled:cursor-pointer w-fit px-6 py-1 enabled:hover:tracking-widest text-maintext rounded-xl transition-all duration-300"
      /><fa-icon
        [icon]="faSpinner"
        [animation]="'spin-pulse'"
        size="xl"
        class="text-maintext -mt-7 select-none"
        *ngIf="disabled"
      />
      <span
        *ngIf="footerComponent"
        class="text-xs mt-2 select-none w-full text-center"
        [ngClass]="disabled ? 'text-accent/30' : 'text-accent/70'"
      >
        {{ footerComponent.text }}
        <a
          *ngIf="footerComponent.link && footerComponent.linkText"
          [routerLink]="disabled ? undefined : footerComponent.link"
          [ngClass]="
            disabled ? 'text-accent/30' : 'text-accent/80 hover:text-contrast'
          "
          class="transition-all duration-200"
          >{{ footerComponent.linkText }}</a
        ></span
      >
    </div>
  </div>
</div>
