<div
  class="mt-[2px] z-[100] bg-mainwhite lg:w-auto h-auto rounded-2xl border-2 w-[70%] mr-[36px] sm:mr-0 border-mainshadow flex sm:min-w-[100px] md:min-w-[300px] items-center lg:h-12 lg:relative absolute top-1 lg:left-0 left-[15%] sm:left-[18%] lg:top-0"
>
  <input
    id="search-input"
    placeholder="Искать на LitGO"
    type="text"
    [value]="query"
    (input)="searchsuggestionBooks($event)"
    name=""
    (focusin)="suggestionOpen = true"
    (focusout)="suggestionOpen = false"
    (keyup.enter)="searchRedirect()"
    class="z-50 border-0 outline-none p-1 lg:p-2 pl-4 w-full rounded-xl flex-1 font-main font-medium text-base text-accent focus:placeholder:opacity-50 placeholder:transition-opacity placeholder:duration-500 placeholder:ease-in"
  />

  <button
    type="button"
    [routerLink]="query.length > 0 ? '/search' : undefined"
    [queryParams]="{ query: query }"
    class="z-50 h-full py-1 lg:py-0 w-fit px-2 lg:px-4 border-0 bg-mainshadow active:bg-mainbg/80 text-maintext rounded-xl rounded-tl-xl rounded-bl-xl cursor-pointer hover:bg-mainbg transition-colors duration-300"
  >
    <fa-icon [icon]="faSearch" size="lg" />
  </button>
</div>
<div
  *ngIf="data$ | async as data"
  class="overflow-y-auto absolute mt-1 ml-[3%] sm:ml-[16.5%] lg:ml-0 min-h-fit shadow-sm shadow-mainblack flex flex-col transition-all ease-in-out duration-200 w-auto max-w-[90%] sm:max-w-[70%] 2xl:max-w-[45%] lg:max-w-[50%] max-h-[90%] overflow-x-hidden bg-mainwhite rounded z-[100] p-2 origin-top-left"
  [ngClass]="
    suggestionOpen &&
    (data.book.length > 0 || data.author.length > 0) &&
    query.length > 0
      ? 'visible opacity-100 scale-1'
      : 'collapse opacity-0 scale-0'
  "
>
  <h1
    *ngIf="data.book.length > 0 && data.author.length > 0"
    class="text-lg sm:text-xl font-semibold sm:font-bold ml-2 mb-1"
  >
    Книги
  </h1>
  <div *ngFor="let book of data.book">
    <a
      [id]="book.id"
      class="cursor-pointer no-underline text-accent h-auto w-full"
      [routerLink]="'/book/' + book.translitname"
    >
      <div
        class="flex flex-1 w-full h-auto px-1 py-1 sm:py-2 hover:bg-accent/10 rounded-xl transition-colors duration-200"
      >
        <img
          [src]="fileService.getBookCoverPath(book)"
          alt=""
          class="rounded-[5%] w-auto min-h-14 max-h-[72px] md:min-h-16 md:max-h-20 xl:min-h-20 xl:max-h-24 object-cover sm:block hidden"
        />
        <div class="flex ml-2 max-w-full w-fit flex-col">
          <span class="flex-wrap font-normal sm:font-semibold">{{
            book.name
          }}</span>
          <p
            class="collapse h-0 sm:visible max-h-full max-w-fit sm:h-auto line-clamp-2 xl:line-clamp-3 font-normal text-ellipsis"
          >
            {{ book.description }}
          </p>
        </div>
      </div>
    </a>
  </div>

  <h1
    *ngIf="data.book.length > 0 && data.author.length > 0"
    class="text-lg sm:text-xl font-semibold sm:font-bold ml-2 mb-1 sm:mb-2"
  >
    Авторы
  </h1>
  <div *ngFor="let author of data.author">
    <a
      [id]="author.id"
      class="cursor-pointer no-underline text-accent h-auto w-full"
      [routerLink]="'/author/' + author.translitname"
    >
      <div
        class="flex w-full h-auto px-2 py-1 sm:py-1 hover:bg-accent/10 rounded-xl transition-colors duration-200"
      >
        <img
          [src]="fileService.getAuthorProfilePath(author)"
          alt=""
          class="rounded-full min-w-10 md:min-w-[72px] h-10 md:h-[72px] object-cover sm:block hidden"
        />
        <div class="flex flex-col ml-1 sm:ml-4 w-fit">
          <span class="flex-wrap font-normal sm:font-semibold">{{
            author.name
          }}</span>
          <p
            class="collapse h-0 sm:visible max-h-[78px] max-w-fit sm:h-auto line-clamp-1 md:line-clamp-2 font-normal text-ellipsis"
          >
            {{ author.about }}
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
