<div class="flex flex-col w-full">
  <input
    [type]="inputType"
    class="disabled:border-mainblack/40 disabled:text-mainblack/40 peer border-spacing-2 border-2 rounded-md px-2 py-1 font-main text-accent z-10 bg-transparent outline-none focus:border-accent border-accent origin-center transition-all duration-200"
    [id]="componentId"
    [disabled]="disabled"
    [value]="inputValue"
    [autocomplete]="autocomplete"
    (keyup.enter)="submitEvent.emit()"
    [ngClass]="
      errorMessage !== undefined
        ? 'border-error text-error placeholder-shown:text-error placeholder-shown:border-error focus:border-error'
        : 'placeholder-shown:border-mainblack/40'
    "
    (input)="onInput($event)"
    placeholder=" "
  />
  <label
    *ngIf="labelValue !== undefined"
    [for]="componentId"
    class="absolute peer-focus:bg-mainwhite peer-focus:dark:bg-body peer-valid:bg-mainwhite peer-valid:dark:bg-body peer-disabled:text-mainblack/40 peer-placeholder-shown:translate-y-[5px] translate-x-[9px] font-main peer-placeholder-shown:text-accent/50 w-fit select-none peer-placeholder-shown:z-0 transition-all duration-200 text-accent -translate-y-[10px] z-20 peer-placeholder-shown:px-0 px-1 peer-placeholder-shown:text-base text-sm peer-focus:text-accent peer-focus:-translate-y-[10px] peer-focus:z-20 peer-focus:px-1 peer-focus:text-sm"
    [ngClass]="
      errorMessage !== undefined
        ? 'text-error peer-placeholder-shown:text-error peer-focus:text-error'
        : ''
    "
    >{{ labelValue }}</label
  >
  <div *ngIf="errorMessage !== undefined" class="flex flex-col">
    <p
      *ngFor="
        let message of isArray(errorMessage) ? errorMessage : [errorMessage]
      "
      class="text-sm text-error ml-2 -mt-[2px] select-none"
    >
      {{ message }}
    </p>
  </div>
</div>
