<div class="w-dvw h-dvh flex flex-col gap-[10%]">
  <div class="w-full flex items-center justify-center text-center">
    <a
      routerLink="/"
      class="text-mainbg font-bold text-[60px] w-fit mt-[5%] hover:tracking-widest transition-all duration-200"
    >
      LitGO
    </a>
  </div>

  <div class="flex w-full h-full justify-start items-center flex-col">
    <h2 class="font-main text-mainblack text-5xl font-semibold">404</h2>
    <h3 class="font-main text-mainblack text-1xl font-semibold">
      Страница не найдена
    </h3>
    <a
      class="mt-5 font-main text-mainblack/80 cursor-pointer hover:tracking-wider transition-all duration-200"
      routerLink="/"
      >Вернуться на главную</a
    >
  </div>
</div>
