<div class="flex flex-col max-w-full h-full overflow-auto bg-body">
  <div
    id="reader"
    class="relative overflow-hidden w-[95%] h-[95%] md:h-full p-0 justify-self-center"
  >
    <ng-container *ngIf="currentSection <= bookPageLimit; else banner" />
  </div>

  <div
    *ngIf="isLoading"
    class="text-4xl text-accent absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[100%] flex flex-col items-center"
  >
    <fa-icon [animation]="'spin-pulse'" [icon]="faSpinner" />
    <span class="text-xl">Загрузка...</span>
  </div>
  <ng-container
    *ngIf="paginationAllowed"
    [ngTemplateOutlet]="controls"
  ></ng-container>
</div>

<ng-template #controls>
  <div
    class="w-full flex flex-row sm:gap-2 justify-center mb-2 mt-auto font-[480]"
    [ngClass]="isLoading ? 'hidden' : ''"
  >
    <button
      (click)="prevPage()"
      class="bg-transparent border-none select-none disabled:pointer-events-none disabled:text-accent/50 disabled:border-accent/50 hover:bg-contrast hover:text-accent-light hover:border-contrast/80 text-accent border-[2px] px-1 rounded-md border-accent bg-mainwhite transition-colors duration-100"
      [disabled]="currentSection <= 0"
      title="Назад"
    >
      <fa-icon [icon]="faBack" />
    </button>

    <button
      (click)="setPage(1)"
      class="bg-transparent border-none border-[2px] select-none disabled:pointer-events-none disabled:text-accent disabled:border-contrast/10 disabled:bg-contrast/40 lg:hover:bg-contrast lg:hover:text-accent-light lg:hover:border-contrast/80 text-accent px-2 rounded-md border-accent bg-mainwhite transition-colors duration-100"
      [disabled]="currentSection === 0"
    >
      1
    </button>

    <span *ngIf="currentSection > 2" class="text-mainblack">...</span>

    <button
      class="bg-transparent border-none border-[2px] select-none disabled:pointer-events-none disabled:text-accent disabled:border-contrast/10 disabled:bg-contrast/40 lg:hover:bg-contrast lg:hover:text-accent-light lg:hover:border-contrast/80 text-accent px-2 rounded-md border-accent bg-mainwhite transition-colors duration-100"
      (click)="setPage(currentSection)"
      *ngIf="currentSection > 1"
    >
      {{ currentSection }}
    </button>

    <button
      class="bg-transparent border-none border-[2px] select-none disabled:pointer-events-none disabled:text-accent disabled:border-contrast/10 disabled:bg-contrast/40 lg:hover:bg-contrast lg:hover:text-accent-light lg:hover:border-contrast/80 text-accent px-2 rounded-md border-accent bg-mainwhite transition-colors duration-100"
      [disabled]="true"
      *ngIf="currentSection < totalSections - 1 && currentSection > 0"
    >
      {{ currentSection + 1 }}
    </button>

    <button
      class="bg-transparent border-none border-[2px] select-none disabled:pointer-events-none disabled:text-accent disabled:border-contrast/10 disabled:bg-contrast/40 lg:hover:bg-contrast lg:hover:text-accent-light lg:hover:border-contrast/80 text-accent px-2 rounded-md border-accent bg-mainwhite transition-colors duration-100"
      (click)="setPage(currentSection + 2)"
      *ngIf="currentSection < totalSections - 2"
    >
      {{ currentSection + 2 }}
    </button>

    <span *ngIf="currentSection < totalSections - 3" class="text-mainblack"
      >...</span
    >

    <button
      (click)="setPage(totalSections)"
      class="bg-transparent border-none border-[2px] select-none disabled:pointer-events-none disabled:text-accent disabled:border-contrast/10 disabled:bg-contrast/40 lg:hover:bg-contrast lg:hover:text-accent-light lg:hover:border-contrast/80 text-accent px-2 rounded-md border-accent bg-mainwhite transition-colors duration-100"
      [disabled]="currentSection === totalSections - 1"
    >
      {{ totalSections }}
    </button>

    <button
      (click)="nextPage()"
      class="bg-transparent border-none select-none disabled:pointer-events-none disabled:text-accent/50 disabled:border-accent/50 hover:bg-contrast hover:text-accent-light hover:border-contrast/80 text-accent border-[2px] px-1 rounded-md border-accent bg-mainwhite transition-colors duration-100"
      title="Вперед"
      [disabled]="currentSection >= totalSections - 1"
    >
      <fa-icon [icon]="faForward" />
    </button></div
></ng-template>

<ng-template #banner>
  <div
    class="absolute top-0 right-0 z-[10] flex bg-body overflow-hidden w-full h-full md:h-full p-0 justify-self-center justify-center items-center px-4 py-4 text-mainblack"
  >
    <div class="flex flex-col w-fit h-fit items-center">
      <span
        >Понравилась книга? Купите полную версию и читайте без
        ограничений!</span
      >
      <a
        *ngIf="currentBook"
        class="mt-1 dark:bg-contrast/30 bg-mainbg dark:text-mainblack hover:bg-mainbg/80 text-mainwhite px-2 py-1 rounded-xl dark:hover:bg-contrast/50 transition-colors duration-150"
        [routerLink]="'/book/' + currentBook"
        >Перейти на страницу книги</a
      >
      <a *ngIf="!currentBook" class="mt-1" [routerLink]="'/'"
        >Вернуться на главную</a
      >
    </div>
  </div>
</ng-template>
