<div class="flex flex-col items-center w-full mt-[5%] xl:mt-[2%]">
  <h1
    class="text-center text-2xl font-main text-blacktext font-semibold mb-[20%] sm:mb-[10%] md:mb-[5%]"
  >
    Авторизация
  </h1>
  <div
    class="flex flex-col gap-4 w-full px-[8%] sm:px-[20%] xl:px-[10%] max-w-[800px]"
  >
    <app-input
      id="login"
      label="Логин или почта"
      [disabled]="attempingState"
      [(value)]="form.login"
      [(error)]="form.loginError"
      autocomplete="username nickname email"
    />
    <app-input
      id="password"
      label="Пароль"
      type="password"
      [disabled]="attempingState"
      [(value)]="form.password"
      [(error)]="form.passwordError"
      autocomplete="current-password"
    />
    <app-checkbox
      class="self-center"
      label="Запомнить меня"
      [disabled]="attempingState"
      [(checked)]="form.rememberMe"
    />

    <span
      *ngIf="form.generalError"
      class="text-error text-center -mb-4 mt-2 text-sm md:text-base"
      >{{ form.generalError }}</span
    >
    <button
      (click)="submit()"
      [disabled]="attempingState"
      [ngClass]="
        attempingState
          ? 'border-mainshadow/60 bg-mainshadow/80'
          : 'hover:bg-mainshadow hover:px-5 hover:text-maintext active:bg-mainbg active:border-mainbg'
      "
      class="mt-2 text-base font-main tracking-wider border-mainshadow border-2 rounded-lg w-fit self-center py-1 px-4 transition-all duration-200"
    >
      <span *ngIf="!attempingState" class="text-mainblack">Войти</span>
      <fa-icon
        *ngIf="attempingState"
        [icon]="faSpinner"
        animation="spin-pulse"
        size="lg"
        class="text-maintext"
      />
    </button>
    <span
      class="text-xs select-none w-full text-center -mt-3"
      [ngClass]="attempingState ? 'text-accent/30' : 'text-accent/70'"
    >
      Еще нет аккаунта?
      <a
        [routerLink]="attempingState ? undefined : '/signin'"
        [ngClass]="
          attempingState
            ? 'text-accent/30'
            : 'text-accent/80 hover:text-contrast'
        "
        class="transition-all duration-200"
        >Зарегистрироваться</a
      ></span
    >
  </div>
</div>
