<ng-container *ngIf="bookModel$ | async as book; else fallback">
  <div class="min-h-full flex flex-col">
    <!--header-->
    <div
      class="flex flex-row flex-wrap gap-1 md:gap-2 text-blacktext font-main text-xs md:text-sm pl-5 md:pl-0"
    >
      <a
        routerLink="/"
        class="hidden md:block text-blacktext/80 hover:text-contrast transition-all duration-150"
        >Книги</a
      >
      <span class="hidden md:block text-blacktext">/</span>
      <a
        [routerLink]="'/genre/' + book.genre.translitname"
        class="hidden md:block text-blacktext/80 hover:text-contrast transition-all duration-150"
        >{{ book.genre.name }}</a
      >
      <span class="hidden md:block text-blacktext">/</span>
      <fa-icon [icon]="faBack" class="block md:hidden text-blacktext/80" />
      <a
        [routerLink]="'/author/' + book.authors[0].translitname"
        class="text-blacktext/80 hover:text-contrast transition-all duration-150"
        >{{ book.authors[0].name }}</a
      >
      <span class="hidden md:block text-blacktext">/</span>
      <span class="text-blacktext/80 hidden md:block">{{ book.name }}</span>
    </div>
    <!-- main body -->
    <div
      class="flex flex-col md:grid md:grid-cols-[200px_auto_200px] gap-6 mt-6"
    >
      <div
        class="flex md:min-w-[200px] md:max-w-[200px] relative min-h-20 max-w-full flex-col"
      >
        <div class="md:fixed md:w-[200px] flex flex-col">
          <img
            *ngIf="coverModel$ | async as cover; else loadingImage"
            [src]="cover"
            class="object-contain rounded-xl"
          />
          <ng-template #loadingImage>
            <app-skeleton width="100%" height="100%" borderRadius="15px" />
          </ng-template>
          <span *ngIf="book.pages" class="text-mainblack w-full text-center"
            >{{ book.pages }} страниц</span
          >
          <a
            [routerLink]="'/reader'"
            [queryParams]="{
              id: book.translitname,
              old: '/book/' + book.translitname
            }"
            class="w-full text-center bg-mainbg rounded-xl text-maintext mt-4 py-2 hover:bg-mainshadow transition-all duration-150 select-none"
            >Читать отрывок</a
          >
        </div>
      </div>
      <div class="flex flex-col w-full">
        <span class="font-semibold text-xl mb-2 text-mainblack"
          >{{ book.name }}
        </span>
        <span
          *ngIf="book.authors.length == 1"
          class="font-semibold text-blacktext/60"
          >Автор
          <a
            class="text-contrast hover:text-contrast/80 transition-colors duration-200 ease-in-out"
            [routerLink]="'/author/' + book.authors[0].translitname"
            >{{ book.authors[0].name }}</a
          ></span
        >
        <span
          *ngIf="book.authors.length > 1"
          class="font-semibold text-blacktext/60"
          >Авторы
          <a
            *ngFor="let author of book.authors"
            class="text-contrast hover:text-contrast/80 transition-colors duration-200 ease-in-out ml-2"
            [routerLink]="'/author/' + author.translitname"
            >{{ author.name }}</a
          ></span
        >

        <div class="flex items-center gap-4 mt-2">
          <div class="flex flex-col justify-center items-center">
            <span class="text-lg font-semibold text-blacktext/80"
              ><fa-icon
                [icon]="faStar"
                size="xs"
                class="text-contrast mr-1"
              />{{ book.rating }}</span
            >
          </div>
          <div class="w-[2px] h-[24px] bg-mainblack/20"></div>
          <div class="flex flex-col justify-center items-center">
            <span class="text-xl font-semibold text-blacktext/90 font-main">{{
              book.reviews
            }}</span>
            <a
              routerLink="."
              fragment="reviews"
              class="text-contrast text-sm -mt-2 hover:text-contrast/80 duration-200 transition-colors"
              >{{ reviewsToString(book.reviews) }}</a
            >
          </div>
        </div>
        <div class="flex flex-col mt-2">
          <span class="text-base lg:text-lg font-semibold text-mainblack"
            >Описание</span
          >
          <span
            class="hidden md:block items-start text-justify text-accent pl-2 border-l-contrast/40 border-l-[2px]"
            ><span
              [ngClass]="descriptionExpanded ? '' : 'line-clamp-3'"
              class="relative max-w-full"
              >{{ book.description }}</span
            >
            <button
              class="text-contrast font-semibold"
              [ngClass]="descriptionExpanded ? 'ml-1' : ''"
              (click)="descriptionExpanded = !descriptionExpanded"
            >
              {{ descriptionExpanded ? "Свернуть" : "Далее" }}
            </button>
          </span>
          <span
            class="md:hidden block items-start text-justify text-accent pl-2 border-l-contrast/40 border-l-[2px]"
            ><span
              [ngClass]="descriptionExpanded ? '' : 'max-h-[3lh]'"
              class="relative max-w-full block overflow-hidden text-justify"
              >{{ book.description }}</span
            >
            <button
              class="text-contrast font-semibold"
              (click)="descriptionExpanded = !descriptionExpanded"
            >
              {{ descriptionExpanded ? "Свернуть" : "Далее" }}
            </button>
          </span>
        </div>
        <div class="md:hidden flex flex-col gap-1 mt-2">
          <span class="text-accent font-semibold text-lg"
            >Понравилась книга?</span
          >
          <div
            class="flex flex-row w-full justify-center items-center h-fit gap-4"
          >
            <button
              [disabled]="currentUser() === null"
              class="text-base font-normal text-mainwhite bg-mainbg py-1 px-2 rounded-xl select-none disabled:bg-mainbg/60 disabled:text-mainwhite/60"
            >
              <fa-icon [icon]="faHeart" *ngIf="book.favourite" />
              <fa-icon [icon]="faRegularHeart" *ngIf="!book.favourite" />
              {{ book.favourite ? "Избранное" : "В избранное" }}
            </button>
            <button
              [disabled]="currentUser() === null"
              class="text-base font-normal text-mainwhite bg-mainbg py-1 px-2 rounded-xl select-none disabled:bg-mainbg/60 disabled:text-mainwhite/60"
              onclick="onFavouriteSwitch"
            >
              Купить за {{ book.price }}₽
            </button>
          </div>
        </div>
        <div id="reviews" class="flex flex-col mt-[20px]">
          <span class="font-semibold text-lg text-mainblack"
            >Отзывы о книге</span
          >
        </div>
      </div>
      <div
        class="min-w-[200px] max-w-[200px] w-[200px] relative hidden md:flex flex-col"
      >
        <div class="text-base w-[200px] h-[50%] fixed flex flex-col gap-4">
          <button
            [disabled]="currentUser() === null"
            class="font-normal text-mainwhite bg-mainbg py-1 px-2 rounded-xl hover:bg-mainshadow transition-all duration-150 select-none disabled:bg-mainbg/60 disabled:text-mainwhite/60"
          >
            <fa-icon [icon]="faHeart" *ngIf="book.favourite" />
            <fa-icon [icon]="faRegularHeart" *ngIf="!book.favourite" />
            {{ book.favourite ? "Избранное" : "В избранное" }}
          </button>
          <button
            [disabled]="currentUser() === null"
            class="font-normal text-mainwhite bg-mainbg py-1 px-2 rounded-xl hover:bg-mainshadow transition-all duration-150 select-none disabled:bg-mainbg/60 disabled:text-mainwhite/60"
            onclick="onFavouriteSwitch"
          >
            Купить за {{ book.price }}₽
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #fallback>asd</ng-template>
