<div
  *ngIf="bookModel"
  class="flex relative"
  [ngClass]="
    alignMode === 'auto'
      ? 'flex-row md:flex-col min-w-[150px] max-w-[300px] md:max-w-[160px] lg:max-w-[200px]'
      : alignMode === 'row'
      ? 'flex-row min-w-[150px] max-w-[300px]'
      : 'flex-col max-w-[160px] sm:max-w-[200px]'
  "
>
  <div>
    <img
      #image
      *ngIf="animationStyle === 'observe'"
      [routerLink]="'/book/' + bookModel.translitname"
      [src]="fileService.getBookCoverPath(bookModel)"
      (mouseenter)="hover = true"
      (mouseleave)="hover = false"
      [style.transform]="animationStyle === 'observe' && getRotationStyle()"
      [ngClass]="
        alignMode === 'auto'
          ? 'w-fit max-h-[100px] md:max-h-max md:h-auto'
          : alignMode === 'row'
          ? 'w-fit max-h-[100px]'
          : 'max-h-max h-auto w-fit'
      "
      class="absolute opacity-0 z-50 object-contain rounded cursor-pointer shadow-mainblack shadow-md transition-all origin-center"
    />
    <img
      [routerLink]="
        animationStyle !== 'observe'
          ? '/book/' + bookModel.translitname
          : undefined
      "
      [src]="fileService.getBookCoverPath(bookModel)"
      [style.transform]="animationStyle === 'observe' && getRotationStyle()"
      [ngClass]="
        (animationStyle == 'scale'
          ? 'md:hover:scale-110 md:hover:rotate-[2deg] duration-100 ease-in-out '
          : animationStyle === 'observe'
          ? ''
          : '') +
        (alignMode === 'auto'
          ? 'w-fit max-h-[100px] md:max-h-max md:h-auto'
          : alignMode === 'row'
          ? 'w-fit max-h-[100px]'
          : 'max-h-max h-auto w-fit')
      "
      class="object-contain rounded cursor-pointer shadow-mainblack shadow-md transition-all origin-center"
    />
  </div>
  <div
    class="text-xs md:text-sm w-full flex flex-col"
    [ngClass]="
      alignMode === 'auto'
        ? 'ml-1 md:ml-0 mt-0 md:mt-2'
        : alignMode === 'row'
        ? 'ml-1 mt-0'
        : 'ml-0 mt-2'
    "
  >
    <a
      class="text-blacktext font-semibold font-main mb-1 hyphens-auto"
      [routerLink]="'/book/' + bookModel.translitname"
      >{{ bookModel.name }}</a
    >
    <a
      class="w-full h-auto font-main text-accent/80 break-words"
      [routerLink]="'/author/' + bookModel.authors[0].translitname"
      >{{ bookModel.authors[0].name }}
      {{ bookModel.authors.length > 1 ? "и др." : "" }}</a
    >
    <p
      class="text-contrast font-bold text-xs md:text-sm font-main mt-2 md:mt-1"
    >
      <fa-icon [icon]="faStar" class="mr-1" />{{ bookModel.rating }}
      <span class="font-semibold text-accent/80">{{ bookModel.reviews }}</span>
    </p>
    <p
      class="font-main text-blacktext font-bold mt-2 md:mt-1 text-xs md:text-sm"
    >
      {{ bookModel.price }} ₽
    </p>
  </div>
</div>
